body, 
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

h1 {
    margin-left: 20px;
    position: fixed;
    top: 15px;
    left: 0;
    z-index: 10;
    font-size: 18px;
}

.gallery-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 1vw 1vh;
    box-sizing: border-box;
    
    -ms-overflow-style: none;

}

.spacer{
    flex-shrink: 0;
    width: 0.1vw;
    height: 0.1px;
}


.window-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    gap: 2.4vw;
}

.window-item-wrapper {
    flex-shrink: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    vertical-align: bottom;
}

.window-item {
    display: block;
    height: auto;
    width: auto;
    object-fit: contain;
}

.window-item-1 { width: 20vw; height: 71vh; }
.window-item-2 { width: 28vw; height: 55vh; }
.window-item-3 { width: 19vw; height: 89vh; }
.window-item-4 { width: 24vw; height: 65vh; }
.window-item-5 { width: 17vw; height: 76vh; }
.window-item-6 { width: 30vw; height: 55vh; }
.window-item-7 { width: 33vw; height: 39vh; }
.window-item-8 { width: 35vw; height: 30vh; }

@media (max-width: 1024px) {
    .window-list { gap: 1.5vw; }
    .window-item-1 { width: 30vw; height: 78vh; }
    .window-item-2 { width: 32vw; height: 45vh; }
    .window-item-3 { width: 28vw; height: 95vh; }
    .window-item-4 { width: 32vw; height: 62vh; }
    .window-item-5 { width: 26vw; height: 84vh; }
    .window-item-6 { width: 34vw; height: 45vh; }
    .window-item-7 { width: 47vw; height: 40vh; }
    .window-item-8 { width: 55vw; height: 35vh; }
}

@media (max-width: 768px) {
    .window-list { gap: 1.5vw; }
    .window-item-1 { width: 30vw; height: 78vh; }
    .window-item-2 { width: 32vw; height: 45vh; }
    .window-item-3 { width: 28vw; height: 95vh; }
    .window-item-4 { width: 35vw; height: 60vh; }
    .window-item-5 { width: 25vw; height: 45vh; }
    .window-item-6 { width: 43vw; height: 34vh; }
    .window-item-7 { width: 48vw; height: 28vh; }
    .window-item-8 { width: 45vw; height: 63vh; }
}

.window-item-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.window-item-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    z-index: 1;
    pointer-events: none;
}

.window-item-wrapper::after {
    content: attr(data-description);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.0em;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: none;
    white-space: normal;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.window-item-wrapper:hover::before,
.window-item-wrapper:hover::after {
    opacity: 1;
}

.window-item-wrapper:hover img {
    transform: scale(1.05);
}

.window-item-wrapper:nth-child(1):hover::before { background-color: rgba(45, 52, 33, 0.7); }
.window-item-wrapper:nth-child(2):hover::before { background-color: rgba(111, 115, 119, 0.7); }
.window-item-wrapper:nth-child(3):hover::before { background-color: rgba(26, 50, 47, 0.7); }
.window-item-wrapper:nth-child(4):hover::before { background-color: rgba(31, 31, 31, 0.7); }
.window-item-wrapper:nth-child(5):hover::before { background-color: rgba(131, 145, 140, 0.7); }
.window-item-wrapper:nth-child(6):hover::before { background-color: rgba(95, 82, 70, 0.7); }
.window-item-wrapper:nth-child(7):hover::before { background-color: rgba(112, 105, 106, 0.7); }
.window-item-wrapper:nth-child(8):hover::before { background-color: rgba(115, 112, 96, 0.7); }
