body{
	margin: 0;
	padding: 0;
}
.video-container video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
	display: block;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s ease;
}

a:hover {
	color: #C0C0C0;
}

p {
	position: fixed;
	top: 15px;
	right: 20px;
	color: white;
	text-shadow: 0px 0px 5px gray;
}

