* {
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}
h1 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #f8fffb;
}

.design1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
}

.design2{
	position: absolute;
	top: 0;
	left: 25%;
	width: 25%;
	height: 100%;
}

.design3{
	position: absolute;
	top: 0;
	left: 50%;
	width: 25%;
	height: 100%;
}

.design4{
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	height: 100%;
}

img {
  width: 500px;
  height: auto;
 
}