* {
  word-break: keep-all;
  color: #7C6249;
}

body {
  background-color: #FFFEF9;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  position: absolute;
  left: 10px;
  font-size: 27px;
}

header {
  position: relative;
  height: 150px;
}

.exp {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
}

.pos,
.neg {
  font-size: 15px;
  padding: 0 10px 0 10px;
  width: 250px;
}

.exp h2,
.exp1 h2 {
  padding: 0 10px 0 10px;
}

img {
  width: 1920px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

footer {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

@media screen and (max-width: 700px) {

  .exp {
    flex-direction: column;
    right: 10px;
    max-width: 90%;
  }
}
