*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	word-break: keep-all;
}

img { 
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width:100%;
	z-index: 2;
	height: 100px;
/*	background-color: white;*/
	background: linear-gradient(to top, rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));

}

ul {
/*	border: 1px solid;*/
	display: flex;
	padding: 0px;
	margin: 0px;
	width: 100%
/*	justify-content: space-evenly;*/
}

li {
	flex: 1;
	text-align: center;
/*	border: 1px solid;*/
	padding:40px;
	list-style: none;
	font-size: 18px;
	color: white;
/*	border: 1px solid black;*/
	
}

footer {
/*	border:0.2px solid black;*/
	position: absolute;
	right:0px;
	top: 0px;
/*	background-color: buff;*/

}

p { 
	border:0.3px solid black;
	position: absolute;
	right:0px;
	top: 0px;
	padding:3px;
	background-color: #36454F;
	font-size: 10px;
	color: #D3D3D3;
}

a {
	color: black;
	text-decoration: none;
}

@media screen and (max-width:800px) {
	li{
		padding: 20px;
	}