*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	word-break: keep-all;
}

body {
	overflow: hidden;
}

img { 
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	padding: 20px;
	background: linear-gradient(to top, rgba(80, 80, 80, 0.75), rgba(80, 80, 80, 0));
}

ul {
/*	border: 1px solid;*/
	display: flex;
	padding: 0px;
	margin: 0px;
	width: 100%
/*	justify-content: space-evenly;*/
}

li {
	flex: 1;
	text-align: center;
/*	border: 1px solid;*/
	list-style: none;
	font-size: 18px;
	color: white;
/*	border: 1px solid black;*/
	
}

footer {
	position: absolute;
	right:0px;
	top: 0px;
	padding: 20px;
}

p { 
	font-size: 10px;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

@media screen and (max-aspect-ratio: 8/5) {

	img {
		width: auto;
		height: 100svh;
	}
} 

@media screen and (max-width:800px) {
	li{
		padding: 10px;
}
