* {
	padding: 0; 
	margin: 0; 
}
section {
	display: flex;
}
.photo1 {
	position: absolute;
	width: auto;
	height: 50%;
	top: 0;
}
.photo2 {
	position: absolute;
	top: 50%;
	left: 0%;
	width: auto;
	height: 50%;
}
img {
  height: 100%;
  width: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
a {
  height: 100%;
  display: block;
}
