* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	font-family: 'NotoSansKR-Regular', sans-serif;*/
	color: #7C6249;
}

header {
	display: flex;
	flex-direction: row;
	position: relative;
}

.about {
	width: 12px;
	margin: 0;
	padding: 0;
}

.about a {
	position: absolute;
	left: 30px;
	top: 30px;
	color: #7C6249;
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 16pt;
	font-weight: normal;
	width: 100%;
	padding: 50px 0 50px 0;
}

body {
	background-color: #FFFEFA;
}

section {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

figure {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px;
}

img {
	display: block;
	width: 100%;
}

img:hover {
	transform: scale(1.1);
	transition: all 0.1s ease-in;
}

.floor1 {
	width: 210px;
}

.floor2 {
	width: 250px;
}

.floor3 {
	width: 190px;
}

.floor4 {
	width: 210px;
}

.floor5 {
	width: 250px;
}

.floor6 {
	width: 210px;
}

.floor7 {
	width: 250px;
}

.floor8 {
	width: 220px;
}

.floor9 {
	width: 250px;
}

footer {
	text-align: center;
	padding: 20px 0 20px 0;
}