* {
	background-color: #eaeaea;
}

a {
	color: black;
	text-decoration: none;
}

header {
	top: 20px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1000;
	padding: 20px 0;
}

h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
	font-size: 25px;
}


ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


img {
	display: block;
	margin: 0 auto;
	box-shadow: 0px 0px 8px gray;
	width: 100%;
}

img:hover {
	transform: scale(1.05);
	transition: all 0.3s ease-in;
}

article {
	width: 45%;
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0px auto 0 auto;
	padding-bottom: 40px;
	column-gap: 30px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  text-align: center;
}

figcaption {
	margin-top: 10px;
	font-size: 14px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

footer {
	text-align: center;
	padding: 10px 0;
}

@media screen and (max-width: 1000px) {
	section {
		display: flex;
		flex-direction: column;
	}

	article {
		width: 90%
	}
	img {
		width: 100%;
	}
}
