* {
	word-break: keep-all;
}

body {
	padding-top: 25px;
	margin: 0px;
	display: flex;
	justify-content: center;
	flex-direction: center;
	min-height: 100vh;
	background-color: #EFF6F7;
}

p {
	line-height: 1.5;
}

img {
	width: 700px;
	height: 500px;
}

@media screen and (max-width: 1000px) {

	section {
		width: 80%;
	}

	img {
		width: 100%;
		height: auto;
	}

}

